<h1 class="ui center align header">Student Registration Form</h1>
<br>
<br>
<div class="ui left container" style="width: 50%">

  <form class="ui form" [formGroup]="mainForm" (ngSubmit)="submitForm(form)" #form="ngForm">

    <app-personal-info [mainForm]="mainForm" [formStatus]="form"></app-personal-info>
    <app-contact-info [mainForm]="mainForm" [formStatus]="form"></app-contact-info>
    <h4 class="ui dividing header">Course Information</h4>
    <button class="ui button" type="button" (click)="addcourse()">Add</button>
    <div formArrayName="courses">
      <div class="field" [formGroupName]="i" *ngFor="let courseForm of courses.controls; let i=index">
        <label>Course {{i+1}}</label>
        <div class="four fields">
          <div class="field">
            <input type="text"
              [ngStyle]="{'border': courseForm.controls['courseId'].invalid && form.submitted ? 'solid 2px red' : ''}"
              formControlName="courseId" placeholder="Enter course Id">
            <div *ngIf="courseForm.controls['courseId'].errors && form.submitted">
                            {{courseForm.controls['courseId'].errors.message}}
            </div>
            <div *ngIf="courseForm.controls['courseId'].pending">
              validating in the backend...
            </div>
          </div>

          <div class="field">
            <input type="text"
              [ngStyle]="{'border': courseForm.controls['courseName'].invalid && form.submitted ? 'solid 2px red' : ''}"
              formControlName="courseName" placeholder="Enter course Name">
            <div *ngIf="courseForm.controls['courseName'].errors && form.submitted">
                               This field is required
                        </div>
          </div>

          <div class="field">
            <select formControlName="payment" 
                    [ngStyle]="{'border': courseForm.controls['payment'].invalid && form.submitted ? 'solid 2px red' : ''}"
                    placeholder="Select Payment option">
              <option>Cash</option>
              <option>Card</option>
            </select>
            <div *ngIf="courseForm.controls['payment'].errors && form.submitted">
                               This field is required
                        </div>
          </div>

          <div class="field">
              <!-- <div *ngIf="phone.errors && mainFormStatus.submitted">
                                 {{phone.errors.message}}
                          </div> -->
              <button class="ui button" (click)="removeCourse(i)">Remove</button>
            </div>
        </div>
      </div>
    </div>
    <br>
    <button type="submit" class="ui button">
      Submit
    </button>
  </form>

  <div>
    <!-- {{nameValue}} -->
    form value -> {{mainForm.value | json}}
    <br>
    form status -> {{mainForm.status}}
  </div>
</div>