<h1 class="ui center align header">Student Registration Form</h1>
<br>
<br>
<div class="ui left container" style="width: 50%">
  <form class="ui form" [formGroup]="mainForm" (ngSubmit)="submitForm(form)" #form="ngForm">
    <h4 class="ui dividing header">Personal Information</h4>

    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field">
          <input type="text" [ngStyle]="{'border': fname.invalid && form.submitted ? 'solid 2px red' : ''}"
            formControlName="fname" placeholder="Enter first name">
            <div *ngIf="fname.errors && fname.errors.required && form.submitted">
              This field is required
            </div>
        
            <div *ngIf="fname.errors && fname.errors.minlength && form.submitted">
              This field should have a minimum of 5 characters
            </div>
        </div>
        
        <div class="field">
          <input type="text" [ngStyle]="{'border': lname.invalid && form.submitted ? 'solid 2px red' : ''}"
            formControlName="lname" placeholder="Enter last name">
        </div>
      </div>
    </div>
    <!-- <div *ngIf="mainForm.controls.name.errors && mainForm.controls.name.errors.required && (mainForm.controls.name.dirty || mainForm.controls.name.touched)">
      This field is required
    </div>

    <div *ngIf="mainForm.controls.name.errors && mainForm.controls.name.errors.minlength && (mainForm.controls.name.dirty || mainForm.controls.name.touched)">
      This field should have a minimum of 5 characters
    </div> -->

    
    <br>
    <button type="submit" class="ui button">
      Submit
    </button>
  </form>

  <div>
    <!-- {{nameValue}} -->
    form value -> {{mainForm.value | json}}
    <br>
    form status -> {{mainForm.status}}
  </div>
</div>