<h1 class="ui center align header">Student Registration Form</h1>
<br>
<br>
<div class="ui left container" style="width: 50%">
  
  <form class="ui form" 
        [formGroup]="mainForm" 
        (ngSubmit)="submitForm(form)" 
        #form="ngForm">

    <app-personal-info [mainForm]="mainForm" [formStatus]="form"></app-personal-info>
    <app-contact-info [mainForm]="mainForm" [formStatus]="form"></app-contact-info>
    <br>
    <button type="submit" class="ui button">
      Submit
    </button>
  </form>

  <div>
    <!-- {{nameValue}} -->
    form value -> {{mainForm.value | json}}
    <br>
    form status -> {{mainForm.status}}
  </div>
</div>